<html>
    <head>
        <link rel="stylesheet" href="styles.css"/>
    </head>
    <body>

      <div id="app">
        <h1>{{ quiz.title }}</h1>
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="intransitivo.html">Intransitivo</a></li>
            <li><a href="frases.html">Frases</a></li>
            <li><a href="opt2.html">Transitivo</a></li>
        </ul>
        <h2>A continuación tenemos una pruebita para repasar los equivalentes de "to  run” en español, elige la respuesta correcta según corresponda.
</h2>
        <div v-for="(question, index) in quiz.questions" class="quizbody">
          <div v-show="index === questionIndex">
            <p>{{question.text}}</p>
            <ol>
              <li v-for="response in question.responses">
                <label>
                  <input type="radio" 
                         v-bind:value="response.correct" 
                         v-bind:name="index" 
                         v-model="userResponses[index]"> {{response.text}}
                </label>
              </li>
            </ol>
            <br><br>
            <button v-if="questionIndex > 0" v-on:click="prev">
                Prev
            </button>
            <button v-on:click="next">
                Next
            </button>
          </div>
        </div>
        <div v-show="questionIndex === quiz.questions.length" class="quizbody">
          <h2>
          Quiz finished
        </h2>
          <p>
            Total score: {{ score() }} / {{ quiz.questions.length }}
          </p>
          <p>
          1. Soy Mitt Romney y " " senador de Utah.<br>
          estoy corriendo <br>
          <b>aspiro a</b><br><br>
          2. La salsa es tan picante que su nariz "he has a running nose”.<br>
          <b>gotear</b><br>
          correr<br><br>
          3. Ayer, "I ran into my friend who I haven’t seen in a while” <br>
          me gotee con<br>
          <b>me tropezé con</b><br><br>
          4. Solo Superman puede "to run”  r&aacute;pidamente como un tren.<br>
          postularse<br>
          <b>correr</b><br><br>
          5. Señora disculpe "is your fridge running” <br>
          corriendo<br>
          <b>funcionando</b><br><br>
          6. Mi amigo y yo "are running an event”.<br>
          <b>dirigimos</b><br>
          tropezamos<br><br>
          7. Si cuando lavo la ropa blanca pongo una media, calcetín rojo entonces el color "runs”.<br>
          <b>se corren</b><br>
          se extienden<br><br>
          8. La liebre "runs” m&aacute;s r&aacute;pido que la tortuga.<br>
          corriendo<br>
          <b>corre</b><br><br>
          9.  Los límites de la cuidad "run " desde el río hasta las montañas. <br>
          corren<br>
          <b>se extienden</b><br><br>
          10. Ese transbordador "runs " hasta Palenque.<br>
          corre<br>
          <b>va</b><br><br>
          </p>
      </div>
      <div class="push"></div>
      <script src="https://vuejs.org/js/vue.js"></script>
      <script src="creativeproject4.js"></script>
    </body>
    <footer>
        <a href="https://github.com/Mitchell996/Creativelab4">GitHub</a>
    </footer>